@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  overflow-x: hidden;
}

.bgclass
{
  position: relative;
  overflow: hidden;
  background: url('./assets/bgcard.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(200px) ,url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABtJREFUeNpiZGBgaGAgAjAxEAlGFVJHIUCAAQDcngCUgqGMqwAAAABJRU5ErkJggg==');
}